*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background: #ddd;
}

.content {
  background: white;
  width: 70vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  border: 1px solid #545660;
  border-radius: 40px;
  background-color: #09090b;
  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      background: orange;
    }
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #09090b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 40px;
  &::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 30px;
    box-sizing: content-box;
    left: -1px;
    bottom: -1px;
    background-color: #31303d;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid #545660;
    border-radius: 40px;
  }
}
